.timeline-chart .axis path {
    fill: none;
    stroke: none; }

.timeline-chart line {
    stroke: black; }

.timeline-chart .vertical-marker {
    stroke-width: 1;
}

.timeline-chart rect, .timeline-chart rect.chart-bounds {
    fill: transparent;
}

.timeline-chart rect.chart-bounds:hover, .timeline-chart rect.interval:hover {
    cursor: -webkit-default;
    cursor: default;
}

.timeline-chart rect.chart-bounds:active, .timeline-chart rect.interval:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.timeline-chart .dot {
    fill: #E75C02;
    stroke: #B35900;
    r: 15;
}
.timeline-chart .dot:hover {
    fill: #EC7D35;
    stroke: #E75C02;
    r: 18;
}

.timeline-chart .dot:hover {
    cursor: pointer;
}

.timeline-chart .interval-text {
    pointer-events: none;
}

.timeline-chart rect.interval {
    ry: 10;
    rx: 10;
    fill: #E75C02;
    stroke: #B35900;
}
.timeline-chart rect.interval:hover {
    fill: #EC7D35;
    stroke: #E75C02;
}
